table {
    border-collapse: separate;
    border-spacing: 3vw 1vh;
    width: 80vw;
}

#standings {
display: flex;
align-items: center;
justify-content: center;
}

thead {
line-height: 5vh;
color: white;
-webkit-text-stroke: .5px;
-webkit-text-stroke-color: #3BC8DB;
background-color: #EF8C40;
}

#hpoints {
font-size: 4vh;
font-weight: bolder;
text-align: center;
padding: 1vh 1vh;
border-radius: 10px;
box-shadow: 4px 3px 8px 1px #3BC8DB;
}

#hname {
font-size: 4vh;
font-weight: bold;
text-align: center;
padding: 1vh 1vh;
border-radius: 10px;
box-shadow: 4px 3px 8px 1px #3BC8DB;
}

#hleague {
font-size: 4vh;
font-weight: bold;
text-align: center;
padding: 1vh 1vh;
border-radius: 10px;
box-shadow: 4px 3px 8px 1px #3BC8DB;
}

tr#datarow {
line-height: .1vh;
}

td#points {
text-align: center;
font-size: 2vh;
padding: 3.5vh 1vh;
}

td#name {
text-align: center;
font-size: 2vh;
padding: 3.5vh 1vh;
}

td#league {
text-align: center;
font-size: 2vh;
padding: 3.5vh 1vh;
}

@media screen and (max-width: 800px) {
table {
    border-collapse: separate;
    border-spacing: 3vw 1vh;
    width: 90vw;
    }

    #standings {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    thead {
        line-height: 5vh;
        color: white;
        -webkit-text-stroke: .3px;
        -webkit-text-stroke-color: #3BC8DB;
        background-color: #EF8C40;
    }

    #hpoints {
        font-size: 4vh;
        font-weight: bolder;
        text-align: center;
        padding: 1vh 1vh;
        border-radius: 10px;
        box-shadow: 4px 3px 8px 1px #3BC8DB;
    }

    #hname {
        font-size: 4vh;
        font-weight: bold;
        text-align: center;
        padding: 1vh 1vh;
        border-radius: 10px;
        box-shadow: 4px 3px 8px 1px #3BC8DB;
    }

    #hleague {
        font-size: 4vh;
        font-weight: bold;
        text-align: center;
        padding: 1vh 1vh;
        border-radius: 10px;
        box-shadow: 4px 3px 8px 1px #3BC8DB;
    }

    tr#datarow {
        line-height: 4vw;
    }

    td#points {
        text-align: center;
        font-size: 2vh;
        padding: 4vh 1vh;
    }

    td#name {
        text-align: center;
        font-size: 2vh;
        padding: 4vh 1vh;
    }

    td#league {
        text-align: center;
        font-size: 2vh;
        padding: 3vh 1vh;
    }
}